# macOS
.DS_Store

# Android Studio / Gradle
native/android/DTZLiDedu/.gradle/
native/android/DTZLiDedu/.idea/
native/android/DTZLiDedu/build/
native/android/DTZLiDedu/app/build/
native/android/DTZLiDedu/local.properties

# Gradle wrapper cache
native/android/DTZLiDedu/gradle/

# iOS build artifacts
native/ios/DTZLiDedu/build/
